* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #ebebff;
  font-family: Lato, sans-serif;
  margin-top: 40px;
  justify-content: center;
}
h1 {
  font-family: Roboto, Verdana, Tahoma, sans-serif;
  color: #8787ff;
  text-transform: capitalize;
}

form {
  width: 800px;
  min-height: 50px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  display: flex;
  justify-content: center;
}
button {
  color: rgb(64, 64, 247);
  border-style: solid ;
  border-color: rgb(106, 175, 255);
  cursor: pointer;
}
.container-card{
  background-color: rgb(255, 183, 89);
  font-family: Roboto, Verdana, Tahoma, sans-serif;
  color: rgb(56, 56, 161);
  display: flexbox;
  justify-content: center;
}
.error-container{
  color: red;
}
